"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  linter:
    ignoreMatchedFiles: "/**/*.min.{js,css,scss}"
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
